/* @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap'); */

body {
    background-color: goldenrod;
}

header {
    text-align: center;
    background-color: rgb(44, 39, 39);
    padding: 20px;
}

header img {
    width: 300px;
    height: 350px;
    border: 20px solid orange;
    border-radius: 30%;
    border-style: dashed;
    border-width: 15px;
}

header h1 {
    font-size: 70px;
    margin: 10px 0 20px 0;
    color: white;
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; 
}

html, body {
    margin: 0;
    padding: 0;
}